<%- model_class = Horario -%>
<div class="page-header">
<h1>Horarios</h1>
<br>
<br>

<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
 Busqueda por aula:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Consultar", :name => nil, :class => 'btn-success' %>
<% end %>
<% end %>
<br />

</div>


<div id="opag">
   <%= form_tag request.path, :method => 'get' do %> 
     <%= content_tag :label do %> 
      Seleccione numero de registros por pagina:
      <br>
       <%= text_field_tag :limit, params[:limit] , :id=>'num'%> 
       <%= submit_tag "Aceptar", :name => nil, :class => 'btn-success' %> 
     <% end %> 
   <% end %>
 </div>

<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable "id"  %></th>
      <th><%= sortable "dia" %></th>
      <th><%= sortable "hora" %></th>
      <th><%= sortable "aula" %></th>
      <th><%= sortable "materia_id" %></th>
      <th><%= sortable "instructor_id" %></th>
      <th><%= sortable "curso_id" %></th>
      <th><%= sortable "created_at" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @horarios %>
  </tbody>
  
</table>

<tr>
      <td><%= link_to 'Nuevo Horario', new_horario_path, :remote => true, :class=>"btn btn-medium btn-primary" %></td>

      
    </tr>



<br />
<br />
<div align="center">
<%= will_paginate @horarios, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<br>
<p>
Total horarios : <%= @horarios.total_entries %>
</p>




